name: DEPLOY
on:
  push:
    branches:
    - dev

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: rsync deployments
      uses: burnett01/rsync-deployments@5.2.1
      with:
        switches: -avzr --delete
        path: ./
        remote_path: /var/www/html/cicd
        remote_host: ${{ secrets.RMT_HST }}
        remote_user: ${{ secrets.RMT_USR }}
        remote_key: ${{ secrets.SSH_PRIVATE_KEY }}